name: allure-report-pr

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - 'main'

jobs:
  allure-pr:
    name: Check Allure Report Action on Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Allure Report action from repo
        uses: ./
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 1